<div class="header-section">
  <h2>ข้อมูลที่เลยวันนัดหมาย</h2>
  <nz-input-group [nzSuffix]="suffixIconSearch" style="max-width: 200px;">
    <input type="text" nz-input placeholder="ค้นหา..." [(ngModel)]="searchText" (ngModelChange)="filterData()" />
  </nz-input-group>
</div>

<nz-table [nzData]="filteredData" nzBordered>
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>เบอร์โทรศัพท์</th>
      <th>โปรแกรมการนัดหมาย</th>
      <th>วันนัดหมาย</th>
      <th>การจัดการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filteredData; let i = index">
      <td>{{ data.first_name }}</td>
      <td>{{ data.last_name }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.program_name }}</td>
      <td>{{ data.appointment_date | date:'dd/MM/yyyy' }}</td>
      <td>
        <button nz-button nzType="link" class="view-button" (click)="viewData(data)">
          <span nz-icon nzType="eye"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
