.view-button {
  background-color: #4489ea;
  color: white;
  margin-right: 2rem;
}

.view-button:hover {
  background-color: #75afff;
  color: white;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.nz-input-group {
  max-width: 200px;
}
