<h2>ข้อมูลที่ถูกเลือก</h2>
<nz-table [nzData]="selectedData" nzBordered>
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>เบอร์โทรศัพท์</th>
      <th>โปรแกรมการนัดหมาย</th>
      <th>วันนัดหมาย</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of selectedData">
      <td>{{ data.first_name }}</td>
      <td>{{ data.last_name }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.program_name }}</td>
      <td>{{ data.appointment_date | date:'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</nz-table>
