<div *ngIf="appointmentDetails">
  <p><strong>ชื่อ-นามสกุล:</strong> {{ appointmentDetails.first_name }} {{ appointmentDetails.last_name }}</p>
  <p><strong>เบอร์โทรศัพท์:</strong> {{ formatPhoneNumber(appointmentDetails.phone) }}</p>
  <p><strong>เลขบัตรประชาชน:</strong> {{ formatIdCard(appointmentDetails.id_card) }}</p>
  <p><strong>วันเดือนปีเกิด:</strong> {{ appointmentDetails.date_birth }}</p>
  <p><strong>ที่อยู่:</strong> {{ appointmentDetails.house_number }} {{ appointmentDetails.street }} {{ appointmentDetails.village }} {{ appointmentDetails.subdistrict }} {{ appointmentDetails.district }} {{ appointmentDetails.province }}</p>
  <p><strong>น้ำหนัก:</strong> {{ appointmentDetails.weight }} <strong>ส่วนสูง:</strong> {{ appointmentDetails.height }} <strong>รอบเอว:</strong> {{ appointmentDetails.waist }}</p>
  <p><strong>ค่า BMI:</strong> {{ appointmentDetails.bmi }} <strong>ค่า รอบเอวต่อส่วนสูง:</strong> {{ appointmentDetails.waist_to_height_ratio }}</p>
  <p><strong>โปรแกรมการนัดหมาย:</strong> {{ appointmentDetails.program_name }}</p>
  <p><strong>ระดับความเสี่ยง:</strong> {{ appointmentDetails.result_program }}</p>
</div>
